@font-face {
    font-family: 'Inter';
    src: url(../../vendor/font/Inter/Inter-VariableFont_slnt,wght.ttf) format("truetype-variations");
    font-weight: 100 900;
}

.page {
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}