.photo-grid__item-list {
    display: grid;
    margin: 92px 48px 0;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item-list {
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__item-list {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item-list {
        margin: 64px 16px 0;
        gap: 12px;
    }
}
