.cover__overlay {
    height: 100%;
    background-color: #2A2C2F4D;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.cover__overlay:hover {
    background-color: #2A2C2FCC;
}